<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <title>Weekly Coffee Archive</title>
    <link rel="stylesheet" type="text/css" href="{{ root }}/assets/css/style.css">
</head>
<body>
    <h1>Weekly Coffee Archive</h1>
    <br>
        {{ content }}
    <br>
    <p>Email me at cpbucher5 at gmail dot com to be added to the newsletter!</p>
</body>
<footer>
</footer>
</html>