<html>
    <head>
        <style>
            html {
                background: url(https://lh3.googleusercontent.com/PFuus9LtewTUkjYb9A__JaTd8SYpDiwhdUk-tH1l1XkUNZn5ZHUT86TozW_x9aDAFwmyhECntJeWhISWnCHTDTIJs5ZS9cHP1kh9Lt94PocllHn-ZXrF6t00yKno_XXo2XhyEVIY_3jWkUcmnb7bJo9C-Pod1PsP-uoNDg54vvjGHUk3mKAX1cjybQTzlM8FUTb5nS-WLCC3dOpSOU51CcQ4nQlwSHQPekhzAM9O1V4XlvCh5tvofu9bBJhWPWorwdty92-_mdjw3F2TuCf-j_sfb-U3sic7_7rxgbxmQs_vg0NL37vW7DAYsLXbY-PGw2rOkv_0dt1_kdje-cfRsfbee8hprA8h2klOrDQNPmXg8Ae3chHub_OoNPP1cul_T018BTMX_Ki2WUNcuWcSTzhB_u2GjNL4WK43tXsTFI1Il6RPM-T3KxZ_J4fFp432CiHNe0TUQP19Vtmflk5El4rS-Y6Kw8bazHfe4lGdzIRZ19zO66zdOiaBZP8-uOs6AjUJzxG41W1Q-g_M-WWjYBSGRCGWRTtraTjsZMVgZvGUt0tXVYqMy0bnHKFTHbRcMVMtVx1uTuktJ46ajSgZAKsXghS5tl0J0JPkS-lVTqViooO2OT5wb9WPT8KQz4Esl5-TxeErn7q1i-20T5_GV7VIR2WZPyWvfWrVoMZjgr5tq3PCBhtynA=w1024-h768-no);
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        </style>
        <script>
            setTimeout(function () {
                $("html").css('background:', 'url(https://lh3.googleusercontent.com/1A7jqaqOmluVWZNUkV0yrHXYLbrlQqRycExJcWJHbfj8JyNcpfWMKXsI6aaDjwcC0PbhZfNYxbDR9vhyQ0N7pvIH3TSQjK7UEadbRt1KDbG25D6m2VyS4Z7VUyIcUIQK3qkEL1ARx3iOxjDs-rXVrcqUSQZBv0GKwJPky63ZAOUBVa0vVmzuZz4mkXDAQzfJIYlMQUHvBO5qdPM6XWnHkQQ0uAAeLQoByosjPsdB3pKxQA1oaeRe29NZ47pDVpw5ZE7r5tTS3Kcenaab19YtN6LFCCl62HDrrJUI2o5GA5dbpIIvYM---ZofNCUzBahqgjBNT9h1pld8QG3yk7ERwyZmbJufB2frXCyGVcsHRHOuOpfWA-gJOLdvR88GNaFWRdMwAVjwpFQ-JagZmjfs2NnfaHglbjrRr_gPiH1PUzO2Y6lDJXzVMT5JVMbbAFcz7_4RuCGGEgd30JqVhQhvkY5Y7dlS6pH6oMtCM693x1gsfSyVamFMGFeGlUPA4YGpot9c6udiiXrJDarJnRc2rZOLgBnxqGZbHTCk0YAT87ESXZ22W0-azj3zbgl4ENDvA0-SvTIMd7KcwBdQqpC-clcswRFoHAmer1RxcVfudEGBY_gy6GNLbMvRPSaKMjrWkBhflclJwG4secaCTpfMOwfSKGGjRmGtkddVfoZDe00SCWw8Jni8cg=w2102-h1576-no)')
            }, 1000);
        </script>
    </head>
    <body>
        <div style = "float: right; background: rgb(0,0,0,0.4); color: white;">
        <h1>Happy Birthday Mom! You are the best mom someone could ask for. I appreciate how much you work to keep the family functioning and to take care of us all. You are so caring and loving, even when we don't deserve your kindness. You are the rock that keeps us together when things get crazy. We are entering such an exciting time in our family, when Brandt's getting married and Jonjon and I go off to college, and I am just so greatful for your guiding light that has kept us all on the right path.</h1> 
        </div>
    </body>
</html>
