<!DOCTYPE html>
<html>

<head>
    <style>
        html,
        head {
            width: 100vw;
            height: 100vh;
        }

        body {
            font-family: 'Muli', sans-serif;
            ;
            margin: 0;
            width: 100vw;
            height: 88vh;
            text-align: center;
            background-color: #EEEEEE;
            font-size: 5vh;
            color: #101010;
        }


        img {
            width: 50vw;
            padding: 0vh 25vw;
        }
    </style>
</head>

<body>
    <center>
        <h3>the braiNIAC</h3>
    </center>
    <img src="/assets/IMG_0667.jpeg"></img>

    {% for category in site.categories %}
    <h5>{{ category[0] }}</h5>
    <ul>
        {% for post in category[1] %}
        <li>
            <h6><a href="{{ post.url }}">{{ post.title }}</a></h6>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>


</html>